<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Some Website</title>
</head>

<body>
    {{> header}}

    <p>{{screamIt welcomeMessage}}</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, cum corrupti culpa fugiat atque quaerat quam laborum tempora
        asperiores. Quaerat veniam ut sit facilis quia repellendus quam? Architecto, natus deserunt.</p>

    {{> footer}}
</body>

</html>